:javascript
  $(function() {
    function makePreview(inputSelector, previewSelector) {
      input = $(inputSelector).val();
      $(previewSelector).html(input);
      previewId =  previewSelector.replace('#', '');
      MathJax.Hub.Queue(["Typeset",MathJax.Hub, previewId]);
    }

    $('body').keyup(function(){makePreview('#question_description', '#question_preview')});
    $('body').bind('updated',function(){makePreview('#question_description', '#question_preview')});
    makePreview('#question_description', '#question_preview');

    $('body').keyup(function(){makePreview('#question_correct_answer', '#answer_preview')});
    $('body').bind('updated',function(){makePreview('#question_correct_answer', '#answer_preview')});
    makePreview('#question_correct_answer', '#answer_preview');
  });

= form_for @question, :html => { :class => "form-horizontal" } do |f|
  -if @question.errors.any?
    .alert.alert-danger.alert-dismissable
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %h4= "#{pluralize(@question.errors.count, "error")} prohibited this question from being saved:"

      %ul
        - @question.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :description, :class => 'col-sm-2 control-label', :id => 'input'
    .col-sm-10
      %h5 Raw (text, HTML, TeX and ASCIImath)
      = f.text_area :description, :class => 'form-control', rows: 5
      %h5 Preview
      #question_preview
  .form-group
    = f.label :answer_type, :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.collection_select :answer_type, Question::ANSWER_TYPES, :to_s, :to_s, { prompt: true }, :class => 'form-control'
  .form-group
    = f.label :marks, :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.number_field :marks, :class => 'form-control'
  .form-group
    = f.label :correct_answer, :class => 'col-sm-2 control-label'
    .col-sm-10
      %h5 Raw (text, ASCIImath)
      = f.text_area :correct_answer, :class => 'form-control'
      %h5 Preview
      #answer_preview
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit :class => 'btn btn-primary'
