= form_for @question, :html => { :class => "form-horizontal" } do |f|
  -if @question.errors.any?
    .alert.alert-danger.alert-dismissable
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %h4= "#{pluralize(@question.errors.count, "error")} prohibited this question from being saved:"

      %ul
        - @question.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :description, :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_area :description, :class => 'form-control'
  .form-group
    = f.label :answer_type, :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.collection_select :answer_type, Question::ANSWER_TYPES, :to_s, :to_s, { prompt: true }, :class => 'form-control'
  .form-group
    = f.label :marks, :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.number_field :marks, :class => 'form-control'
  .form-group
    = f.label :correct_answer, :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_area :correct_answer, :class => 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit :class => 'btn btn-primary'
