.page-header
  = link_to new_question_path do
    %span.glyphicon.glyphicon-plus
    New Question
  %h1 Listing questions

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Year group
        %th Category
        %th Description
        %th.answer-type Answer type
        %th Marks
        %th
        %th
        %th
        %th

    %tbody
      - @questions.each do |question|
        %tr.question-table
          %td= question.year_group.name
          %td= question.category.name
          %td.question-text= question.description.html_safe
          %td.answer-type= question.answer_type
          %td= question.marks
          %td= link_to 'Answer', new_answer_path(question_id: question.id)
          %td= link_to 'Show', question
          %td= link_to 'Edit', edit_question_path(question)
          %td= link_to 'Destroy', question, :data => { confirm: 'Are you sure?' }, :method => :delete
