.page-header
  = link_to new_question_path do
    %span.glyphicon.glyphicon-plus
    New Question
  %h1 Listing questions

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Category
        %th Exam boards
        %th Description
        %th Hint
        %th Parts
        %th Marks
        %th
        %th
        %th

    %tbody
      - @questions.each do |question|
        %tr.question-table
          %td= question.category.name
          %td= question.exam_board_names
          %td.question-text= change_math_delims(question.description)
          %td.question-text= change_math_delims(question.hint)
          %td= question.question_parts.count
          %td= question.marks
          %td= link_to 'Show', question
          %td= link_to 'Edit', edit_question_path(question)
          %td= link_to 'Destroy', question, :data => { confirm: 'Are you sure?' }, :method => :delete
