.page-header
  = link_to questions_path, :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_question_path(@question), :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show question

%dl.dl-horizontal
  %dt Category:
  %dd= @question.category.name
  %dt Exam boards:
  %dd= @question.exam_board_names
  %dt.question-text Description:
  %dd.question-text=change_math_delims(@question.description)
  %dt.question-text Hint:
  %dd.question-text=change_math_delims(@question.hint)

%h3 Parts
%ol
  - @question.question_parts.each do |question_part|
    %li
    %dl.dl-horizontal
    %dt Description:
    %dd.question-text=change_math_delims(question_part.description)
    %dt Marks:
    %dd= question_part.marks
    %dt Answer type:
    %dd= question_part.answer_type
    %dt Correct answer:
    %dd= question_part.correct_answer.content
