:javascript
  $(function() {
      $('.chart').easyPieChart({
          barColor: '#fff',
          trackColor: '#1f6899',
          scaleColor: false,
          lineWidth: 10,
          size: 142,
      });
  });

%br

- if @user.tutorial_completed?

  / <<<<<<< miguel
  / %h3= "Stats (on #{'last' if @user.recent_tests.size == Test::RECENT_LIMIT} #{pluralize(@user.recent_tests.size, 'test')})"
  / >>>>>>> miguel

  %div.results

    %div.charts
      .chart{"data-percent" => "#{@user.percentage}"} #{number_to_percentage @user.percentage, precision: 0}

      .chart{"data-percent" => "#{correct_percent(@user)}"} #{@user.correct_answers_count} CORRECT

      .chart{"data-percent" => "#{incorrect_percent(@user)}"} #{@user.incorrect_answers_count} INCORRECT

      .chart{"data-percent" => "55"} #{@user.grade}

    %div.questions

      %hr

      %dl.dl-horizontal
        - (@user.stats.keys - [:all]).each do |aggregation|
          %div.boxes
            %p.grade= @user.grade(aggregation)
            %p= aggregation
  %div
    =link_to "Take a test", new_test_path, :class => "normal button"
-else
  %div
    =link_to "Preliminary test", tests_path(test:{ tutorial: 1 , category_ids: [Category.tutorial.id]}), :method => :post, :class => "normal button"



