:javascript
  $(function() {
      $('.chart').easyPieChart({
          barColor: '#fff',
          trackColor: '#1f6899',
          scaleColor: false,
          lineWidth: 10,
          size: 142,
      });
  });

%br

- if @user.tutorial_completed?

  %div.results

    %div.charts
      .chart{"data-percent" => "#{total_answers_count(@user)}"} #{@user.total_answers_count} ANSWERED

      .chart{"data-percent" => "#{correct_percent(@user)}"} #{@user.correct_answers_count} CORRECT

      .chart{"data-percent" => "#{incorrect_percent(@user)}"} #{@user.incorrect_answers_count} INCORRECT

      .chart{"data-percent" => "55"} #{@user.grade}

    %div.questions

      %hr

      %dl.dl-horizontal
        - (@user.stats.keys - [:all]).each do |aggregation|
          %div.boxes
            %p.grade= @user.grade(aggregation)
            %p= aggregation
  %div
    =link_to "TAKE A TEST", new_test_path, :class => "big button"

  %h3.dashboard-messages
    "#{motivational_message(@user)}"


-else

  %div.results

    %div.charts
      .chart{"data-percent" => "70"} - COMPLETED

      .chart{"data-percent" => "30"} - CORRECT

      .chart{"data-percent" => "25"} - INCORRECT

      .chart{"data-percent" => "55"} - GRADE

    %div.tutorial
      %h2 1. #{link_to "Take a practise test", tests_path(test:{ tutorial: 1 , category_ids: [Category.tutorial.id]}), :method => :post, :class => "test_link"}

      %h2 2. Start taking exam questions

      %h2 3. Get estimated grades for each topic
