.page-header
  %h1 Message

%dl.dl-horizontal
  %dt Email:
  %dd= @message.email
  %dt First name:
  %dd= @message.first_name
  %dt Last name:
  %dd= @message.last_name
  %dt Title:
  %dd= @message.title
  %dt Body:
  %dd= @message.body

%div.dashboard

  =link_to "Go To Dashboard", root_path, class: "normal button"
