.page-header
  %h1 Show message

%dl.dl-horizontal
  %dt Email:
  %dd= @message.email
  %dt First name:
  %dd= @message.first_name
  %dt Last name:
  %dd= @message.last_name
  %dt Title:
  %dd= @message.title
  %dt Body:
  %dd= @message.body
