:javascript
  $(function() {
    function makePreview(inputSelector, previewSelector) {
      input = $(inputSelector).val();
      $(previewSelector).html(input);
      previewId =  previewSelector.replace('#', '');
      MathJax.Hub.Queue(["Typeset",MathJax.Hub, previewId]);
    }

    #{
      answer_count = @test_question.answers.count
      indexes = (0...answer_count).to_a
      indexes.map { |i|
        %{
          $('#update_answer_preview_#{i}').click(function(event){event.preventDefault(); makePreview('#test_question_answers_attributes_#{i}_content', '#answer_preview_#{i}')});
          $('body').bind('updated',function(){makePreview('#test_question_answers_attributes_#{i}_content', '#update_answer_preview_#{i}')});
          makePreview('#test_question_answers_attributes_#{i}_content', '#answer_preview_#{i}');
        }
      }.join('\n')
    }
  });

/ TODO: Adjust javascript for muti part answers

= form_for @test_question, :html => { :class => "form-horizontal" } do |f|
  -if @test_question.errors.any?
    .alert.alert-danger.alert-dismissable
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %h4= "#{pluralize(@test_question.errors.count, "error")} prohibited this test_question from being saved:"

      %ul
        - @test_question.errors.full_messages.each do |msg|
          %li= msg

  %p.question-text
    =@test_question.question.description.html_safe
  - count = 0
  = f.fields_for :answers do |answer_fields|
    - answer = answer_fields.object
    .form-group
      .col-sm-10
        %p.question-text
          - question_part = answer.question_part
          ="#{question_part.number})"
          = question_part.description.html_safe
          ="(for #{pluralize(question_part.marks.to_i, 'mark')})"
        = answer_fields.label :your_answer
        = answer_fields.text_area :content, :class => 'form-control'
        %h5 Preview
        %p
          %button.btn{ type: "button",id: "update_answer_preview_#{count}" } Update Preview
        %div{ id: "answer_preview_#{count}" }
    - count += 1
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit :class => 'btn btn-primary'