/ :javascript
/   $(function() {
/     function makePreview(inputSelector, previewSelector) {
/       input = $(inputSelector).val();
/       $(previewSelector).html(input);
/       previewId =  previewSelector.replace('#', '');
/       MathJax.Hub.Queue(["Typeset",MathJax.Hub, previewId]);
/     }

/     $('body').keyup(function(){makePreview('#answer_description', '#answer_preview')});
/     $('body').bind('updated',function(){makePreview('#answer_description', '#answer_preview')});
/     makePreview('#answer_description', '#answer_preview');
/   });

= form_for @answer, :html => { :class => "form-horizontal" } do |f|
  -if @answer.errors.any?
    .alert.alert-danger.alert-dismissable
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %h4= "#{pluralize(@answer.errors.count, "error")} prohibited this answer from being saved:"

      %ul
        - @answer.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :question, :class => 'col-sm-2 control-label'
    .col-sm-10.question-text
      = @answer.question
      %br
      %em= "For #{pluralize(@answer.max_marks.to_s, 'point')}"
  .form-group
    = f.label :your_answer, :class => 'col-sm-2 control-label'
    .col-sm-10
      %h5 Raw (text, ASCIImath)
      = f.text_area :content, :class => 'form-control'
      %h5 Preview
      #answer_preview
  
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.hidden_field :question_id
      = f.submit :class => 'btn btn-primary'
