/ :javascript
/   $(function() {
/     function makePreview(inputSelector, previewSelector) {
/       input = $(inputSelector).val();
/       $(previewSelector).html(input);
/       previewId =  previewSelector.replace('#', '');
/       MathJax.Hub.Queue(["Typeset",MathJax.Hub, previewId]);
/     }

/     $('body').keyup(function(){makePreview('#answer_description', '#answer_preview')});
/     $('body').bind('updated',function(){makePreview('#answer_description', '#answer_preview')});
/     makePreview('#answer_description', '#answer_preview');
/   });

= form_for @answer, :html => { :class => "form-horizontal" } do |f|
  -if @answer.errors.any?
    .alert.alert-danger.alert-dismissable
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %h4= "#{pluralize(@answer.errors.count, "error")} prohibited this answer from being saved:"

      %ul
        - @answer.errors.full_messages.each do |msg|
          %li= msg
  .question
    .col-sm-8.question-description
      = @answer.question
    .col-sm-4.question-mark
      %p= "#{pluralize(@answer.max_marks.to_s, 'mark')}"

  .form-object
    .col-sm-10.answer-box
      = f.text_field :content, placeholder: 'Enter answer here'
      #answer_preview
  %br
  .form-object
    .col-sm-offset-8.col-sm-10
      = f.hidden_field :question_id
      = f.hidden_field :test_id
      = f.submit "Next Question", :class => 'btn btn-primary' if @answer.test && !@answer.last?
      = f.submit "Check Results", :class => 'btn btn-primary' if @answer.test && @answer.last?
      = f.submit :class => 'btn btn-primary'                  unless @answer.test
