:javascript
  $(function() {
    function makePreview(inputSelector, previewSelector) {
      input = $(inputSelector).val();
      $(previewSelector).html(input);
      previewId =  previewSelector.replace('#', '');
      MathJax.Hub.Queue(["Typeset",MathJax.Hub, previewId]);
    }
    $('#answer_preview_update').click(function(event){event.preventDefault(); makePreview('#answer_content', '#answer_preview')});
    $('body').bind('updated',function(){makePreview('#answer_content', '#answer_preview')});
    makePreview('#answer_content', '#answer_preview');
  });


= form_for @answer, :html => { :class => "form-horizontal" } do |f|
  -if @answer.errors.any?
    .alert.alert-danger.alert-dismissable
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %h4= "#{pluralize(@answer.errors.count, "error")} prohibited this answer from being saved:"

      %ul
        - @answer.errors.full_messages.each do |msg|
          %li= msg
  .question
    .col-sm-12.question-description
      = @answer.question
      %br
      %em= "For #{pluralize(@answer.max_marks.to_s, 'mark')}"
  .form-group
    -# = f.label :your_answer, :class => 'col-sm-2 control-label'
    .col-sm-12
      %h5 Raw (text, ASCIImath)
      %pre ex: `A^2+d+pi-e` because `pi` is bla bla :)
      = f.text_area :content, :class => 'form-control'
      %p.update
        %button#answer_preview_update.btn Update Preview
      %h5 Preview
      #answer_preview
  %br
  .form-object
    .col-sm-offset-8.col-sm-10
      = f.hidden_field :question_id
      = f.hidden_field :test_id
      = f.submit "Next Question", :class => 'login button' if @answer.test && !@answer.last?
      = f.submit "Check Results", :class => 'login button' if @answer.test && @answer.last?
      = f.submit :class => 'login button'                  unless @answer.test
