.page-header
  %h1 Listing answers

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Question
        %th Answer
        %th Correct Answer
        %th Marks
        %th
        %th
        %th

    %tbody
      - @answers.each do |answer|
        %tr
          %td= answer.question_id
          %td= answer.content
          %td= answer.correct_answer.content
          %td= "#{answer.marks.to_i} on #{pluralize(answer.max_marks, 'point')}"
          %td= link_to 'Show', answer
          %td= link_to 'Edit', edit_answer_path(answer)
          %td= link_to 'Destroy', answer, :data => { confirm: 'Are you sure?' }, :method => :delete
