.page-header
  = link_to answers_path, :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_answer_path(@answer), :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show answer

%dl.dl-horizontal
  %dt.question-text Question:
  %dd.question-text=@answer.question_part
  %dt Answer:
  %dd= @answer.content
  %dt Marks:
  %dd= "#{@answer.marks} on #{pluralize(@answer.max_marks.to_i, 'point')}"
