<section class="form">
  <h2>Improve your physics AS/A2 grades</h2>
  <p>Self marking revision past papers</p>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: "form" }) do |f| %>
      <div class="form-object">
        <%= f.email_field :email, autofocus: true, placeholder: 'school/college email' %>
      </div>

      <div class="form-object">
        <%= f.password_field :password, autocomplete: "off", placeholder: 'password' %>
      </div>

      <%= f.submit "LOGIN", class: 'login button' %>
    <% end %>

    <h4>Don't have an account?  <%= link_to 'Request one here', new_user_registration_path %></h4>
</section>
