.page-header
  = link_to new_category_path, :class => 'normal button' do
    %span.glyphicon.glyphicon-plus
    New Category
  %h1 Listing categories

.table-responsive
  %table.table.table-bordered.table-hover
    %thead
      %tr
        %th Name
        %th Exam Board
        %th Year
        %th No. of Questions
        %th
        %th
        %th

    %tbody
      - @categories.each do |category|
        %tr
          %td= category.name
          - if category.exam_board_id == 1
            %td OCR
          - elsif category.exam_board_id == 2
            %td AQA
          - else
            %td Edexcel
          -# %td= category.exam_board_id
          %td= category.year
          %td= category.questions.count
          %td= link_to 'Show', category
          %td= link_to 'Edit', edit_category_path(category)
          %td= link_to 'Destroy', category, :data => { confirm: 'Are you sure?' }, :method => :delete
