.section.form
  = form_for @test do |f|
    -if @test.errors.any?
      .alert.alert-danger.alert-dismissable
        %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
        %h4= "#{pluralize(@test.errors.count, "error")} prohibited this test from being saved:"

        %ul
          - @test.errors.full_messages.each do |msg|
            %li= msg
    .form-group
      = f.fields_for :user do |user_fields|
        = user_fields.label :exam_board, :class => 'col-sm-2 control-label'
        .col-sm-10
          = user_fields.collection_select :exam_board_id, ExamBoard.all, :id, :name, { prompt: true }, :class => 'form-control'
    .form-object
      = f.label :duration, 'TEST DURATION', :class => 'form-label'
      .col-sm-10
        = f.range_field :duration, :class => 'slider', in: 1...100, "data_show_value" => "true"}
        %span#time 60

    .form-object
      .col-sm-10
        = hidden_field_tag "test[category_ids][]", nil
        - Category.all.each do |category|
          = label_tag dom_id(category), category.name
          = check_box_tag "test[category_ids][]", category.id, @test.category_ids.include?(category.id), id: dom_id(category)

    .form-object
      .col-sm-offset-2.col-sm-10
        = f.submit :class => "normal button"


:javascript
  function showValue(newValue) {
    document.getElementById('time').innerHTML = newValue;
  }
