.page-header
  = link_to new_test_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Test
  %h1 Listing tests

.table-responsive
  %table.table.table-bordered.table-hover
    %thead
      %tr
        %th Categories
        %th Level
        %th Duration
        %th User
        %th No. of questions
        %th No. correct
        %th

    %tbody
      - @tests.each do |test|
        %tr
          %td= test.category_names
          %td= test.level
          %td= test.duration
          %td= test.student.email
          %td= test.questions.count
          %td= test.correct_answers_count
          %td= link_to 'Show', test
