-if @test.errors.any?
  .alert.alert-danger.alert-dismissable
    %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
    %h4= "#{pluralize(@test.errors.count, "error")} stopped this test from being created:"

    %ul.alert
      - @test.errors.full_messages.each do |msg|
        %li.alerts
        = msg

.page-header
  %h1 TEST OPTIONS

%p.questions Year group:
%ul.tabs
  %li.tab-AS
    %a.AS-link{"data-toggle" => "tab", :href => "#"} AS
  %li.tab-A2
    %a.A2-link{"data-toggle" => "tab", :href => "#"} A2

.AS
  .section.form
    = form_for @test do |f|
      %br
      %p.questions Questions in the style of:
      .col-sm-12
        %ul.tabs-exams
          %li.tab-OCR
            %a.OCR-link{"data-toggle" => "tab", :href => "#"} OCR
          %li.tab-Edexcel
            %a.Edexcel-link{"data-toggle" => "tab", :href => "#"} Edexcel
          %li.tab-AQA
            %a.AQA-link{"data-toggle" => "tab", :href => "#"} AQA
      %br
      %p.questions Test duration:
      .form-object.range
        .col-sm-8.range
          = f.range_field :duration, :class => 'slider', in: 1...101, value: 5, :onchange => 'showValue(this.value)'
        %div.duration
          = succeed ' minutes' do
            %span#time 5
          %br
          = f.label :duration, 'TEST DURATION', :class => 'form-label'
      %p.questions Categories:
      .OCR
        .form-object
          .col-sm-12.category_to_fix
            - Category.real.each do |category|
              -if category.year == "AS" && category.exam_board_id == 1
                .category-label
                  = label_tag dom_id(category), category.name
                  = check_box_tag "test[category_ids][]", category.id, @test.category_ids.include?(category.id), id: dom_id(category)

      .Edexcel
        .form-object
          .col-sm-12.category_to_fix
            - Category.real.each do |category|
              -if category.year == "AS" && category.exam_board_id == 3
                .category-label
                  = label_tag dom_id(category), category.name
                  = check_box_tag "test[category_ids][]", category.id, @test.category_ids.include?(category.id), id: dom_id(category)

      .AQA
        .form-object
          .col-sm-12.category_to_fix
            - Category.real.each do |category|
              -if category.year == "AS" && category.exam_board_id == 2
                .category-label
                  = label_tag dom_id(category), category.name
                  = check_box_tag "test[category_ids][]", category.id, @test.category_ids.include?(category.id), id: dom_id(category)

      %h4 Select your year group, exam board and categories from the options above

      .form-object
        = f.submit :class => 'normal button'

.A2
  .section.form
    = form_for @test do |f|
      %br
      %p.questions Questions in the style of:
      %ul.tabs-exams
        %li.tab-OCR
          %a.OCR-link{"data-toggle" => "tab", :href => "#"} OCR
        %li.tab-Edexcel
          %a.Edexcel-link{"data-toggle" => "tab", :href => "#"} Edexcel
        %li.tab-AQA
          %a.AQA-link{"data-toggle" => "tab", :href => "#"} AQA
      %br
      %p.questions Test duration:
      .form-object
        .col-sm-8.range
          = f.range_field :duration, :class => 'slider', in: 1...101, value: 5, :onchange => 'showNewValue(this.value)'
        %div.duration
          = succeed ' minutes' do
            %span#A2time 5
          %br
          = f.label :duration, 'TEST DURATION', :class => 'form-label'
      %p.questions Categories:
      .OCR
        .form-object
          .col-sm-12.category_to_fix
            - Category.real.each do |category|
              -if category.year == "A2" && category.exam_board_id == 1
                .category-label
                  = label_tag dom_id(category), category.name
                  = check_box_tag "test[category_ids][]", category.id, @test.category_ids.include?(category.id), id: dom_id(category)

      .Edexcel
        .form-object
          .col-sm-12.category_to_fix
            - Category.real.each do |category|
              -if category.year == "A2" && category.exam_board_id == 3
                .category-label
                  = label_tag dom_id(category), category.name
                  = check_box_tag "test[category_ids][]", category.id, @test.category_ids.include?(category.id), id: dom_id(category)

      .AQA
        .form-object
          .col-sm-12.category_to_fix
            - Category.real.each do |category|
              -if category.year == "A2" && category.exam_board_id == 2
                .category-label
                  = label_tag dom_id(category), category.name
                  = check_box_tag "test[category_ids][]", category.id, @test.category_ids.include?(category.id), id: dom_id(category)

      %h4 Select your year group, exam board and categories from the options above

      .form-object
        = f.submit :class => 'normal button'

:javascript
  function showValue(newValue) {
    document.getElementById('time').innerHTML = newValue;
  }

:javascript
  function showNewValue(newValue) {
    document.getElementById('A2time').innerHTML = newValue;
  }
