:javascript
  $(function() {
      $('.chart').easyPieChart({
          barColor: '#fff',
          trackColor: '#1f6899',
          scaleColor: false,
          lineWidth: 5,
          size: 220,
      });
  });

.page-header
  %h1 TEST RESULTS

%div.charts
  .chart{"data-percent" => "#{@test.percentage}"} #{number_to_percentage @test.percentage, precision: 0} PERCENT

  .chart{"data-percent" => "#{correct_percent(@test)}"} #{@test.correct_answers_count} CORRECT

  .chart{"data-percent" => "#{incorrect_percent(@test)}"} #{@test.incorrect_answers_count} INCORRECT

  .chart{"data-percent" => "65"} Something

%div
  %dl.dl-horizontal
    -# %dt Year group:
    -# %dd= @test.year_group.name
    %dt Categories:
    %dd= @test.category_names
    %dt Duration:
    %dd= @test.duration
    %dt User:
    %dd= @test.user.email

  %hr

  %dl.dl-horizontal
    %dt Correct:
    %dd= @test.correct_answers_count
    %dt Incorrect:
    %dd= @test.incorrect_answers_count
    %dt Percentage:
    %dd= number_to_percentage @test.percentage, precision: 0
    %dt Grade:
    %dd= @test.grade

  %hr

  %dl.dl-horizontal
    - (@test.stats.keys - [:all]).each do |aggregation|
      %dt= aggregation
      %dd= number_to_percentage @test.percentage(aggregation), precision: 0

  - @test.test_questions.each do |test_question|
    %hr
    %dl.dl-horizontal
    %dt.question-text= "Question #{test_question.number}:"
    %dd.question-text=test_question.question.description.html_safe
    %ol
      - test_question.answers.each do |answer|
        %li
          %dd=answer.question_part.description
          %dt Your answer:
          %dd
            = answer.content
            %br
            = answer.correct? ? "Was correct!" : "Was incorrect!"
          - unless answer.correct?
            %dt Correct answer:
            %dd= answer.correct_answer.content
          %dt Marks:
          %dd= "#{answer.marks} on #{pluralize(answer.max_marks.to_i, 'point')}"
    =link_to "Disagree", new_message_path(disagree: 1, question_id: test_question.question.id)
