:javascript
  $(function() {
      $('.chart').easyPieChart({
          barColor: '#fff',
          trackColor: '#1f6899',
          scaleColor: false,
          lineWidth: 10,
          size: 141,
      });
  });

%div.container
  %div.results
    .page-header
      %h1 TEST RESULTS

    %div.charts
      .chart{"data-percent" => "#{@test.percentage}"} #{number_to_percentage @test.percentage, precision: 0} PERCENT
      .chart{"data-percent" => "#{correct_percent(@test)}"} #{@test.correct_answers_count} CORRECT
      .chart{"data-percent" => "#{incorrect_percent(@test)}"} #{@test.incorrect_answers_count} INCORRECT
      .chart{"data-percent" => "65"} #{@test.grade} PREDICTED

    %div.dashboard
      =link_to "To Dashboard", root_path, class: "normal button"

    -# .col-sm-offset-8.col-sm-4
    -#   %p Share your results:
    -#   = social_share_button_tag("Gradezilla rules", url: "http://gradezilla.com", popup: "true")

    %div.questions
      - @test.test_questions.each do |test_question|
        %hr
        .col-sm-12.question-title
          = "QUESTION #{test_question.number}"
        .col-sm-9.question
          .question-description
            =change_math_delims(test_question.question.description)
          %ol.question-part
            - test_question.answers.each do |answer|
              %li.question-text
                %div.question-part-description
                  %p=change_math_delims(answer.question_part.description)
                %div.student-answer
                  %h6 Your answer:
                  %h7
                    = answer.content
                    = answer.correct? ? "- was correct!" : "- was incorrect!"
                  - unless answer.correct?
                    %h6 Correct answer:
                    %h7= answer.correct_answer.content
                %div.student-marks
                  %h6 Marks: #{answer.marks} of #{answer.max_marks.to_i}
                  =link_to "Disagree?", new_message_path(disagree: 1, question_id: test_question.question.id), class: 'link right'



%div.dashboard_bottom
  =link_to "TO DASHBOARD", root_path, class: "normal button"

  =link_to "TAKE ANOTHER TEST", new_test_path, :class => "normal button"

:javascript
  mixpanel.track("Finished test",
  {"Grade": @test.grade,
  "Questions Correct": @test.correct_answers_count,
  "Questions wrong": @test.incorrect_answers_count,
  "Total Questions": @test.total_answers_count,
  "Percentage": @test.percentage}
);
